.header {
  .item {
    .nave, .value {
      text-align: left;
      margin: 10px 2.5px;
      color: #272727;
      font-size: 19px;
      font-weight: 500;
    }

    .value {
      color: blue;
    }
  }
}
