.main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  @media (max-width: 768.8px){
    flex-direction: column-reverse;
    justify-content: space-between;
  }
}

.main-content {
  width: calc(75% - 20px);
}

.sidebar {
  width: calc(25% - 20px);
}

.sidebar, .main-content{
  @media (max-width: 768.8px) {
    width: calc(100% - 20px);
  }
}


// more styles
.more{
  display: flex;
  justify-content: center;
  margin: 10px 0;

  button{
    background-color: transparent;
    color: #2c9a9e;
  }
}
