.basket-card{
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  .card-widget-btn{
    text-decoration: none!important;
    background-color: #0b0f92;
    color: #ffffff;
    border: none;
    padding-left: 25px;
    padding-right: 25px;
  }

  h3{
    margin: 5px 0 12px 0;
    font-size: 22px;
    color: #757575;
  }

  .hyphen{
    margin: 0 5px;
  }
}


