
  .card-widget-btn {
    display: inline-block;
    text-decoration: none !important;
    color: #2c9a9e;
    width: 100%;
    border: none;
    text-align: center;
    padding: 10px 5px;

    &:hover{
      box-shadow: none;
      color: #14d07f;;
    }

    i{
      margin: 0 5px 0 5px;
    }

  }

  .hyphen {
    margin: 0 5px;
  }



